{% extends "base.html" %}
{% load i18n %}
{% block page_title %}
    Home
{% endblock page_title %}
{% block content %}
    <div class="container mx-auto ">
        <div class=" mb-10 bg-gray-500 w-full h-50vh rounded-xl bg-cover bg-center"
        style="background-image: 
        url(https://images.unsplash.com/photo-1534274867514-d5b47ef89ed7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=970&q=80);">
        </div>
        <div class=" flex flex-wrap -mx-8">
            {% for room in rooms  %}
                {% include 'mixins/room_card.html' with room=room%}
            {% endfor %} 
        </div>
        <div class=" text-lg text-green-300 flex justify-center items-center mx-auto container">
            {% if page_obj.has_previous %}
                <a href="?page={{page_obj.previous_page_number}}">
                    <i class="fas fa-arrow-left"></i>
                </a>
            {% endif %}
            <span class="mx-3 font-medium text-lg">
                {% blocktrans with current_page=page_obj.number total_pages=page_obj.paginator.num_pages %}Page {{current_page}} of {{total_pages}}{% endblocktrans %}
            </span>
            {% if page_obj.has_next  %}
                <a href="?page={{page_obj.next_page_number}}">
                    <i class="fas fa-arrow-right"></i>
                </a>
            {% endif %}
        </div>
    </div>
{% endblock content %}