{% extends "base.html" %}

{% block page_title %}
    Update Password
{% endblock page_title %}


{% block search-bar %}
{% endblock search-bar %}
    

{% block content %}

    <div class=" h-75vh container mx-auto flex flex-col lg:w-5/12 md:w-1/2 xl:w-1/4 items-center border
     border-gray-400 mb-4 py-7 px-7">
        
        {% include 'mixins/auth/auth_form.html' with form=form cta="Update Profile" %}
        <div class="mt-5">
            <a href="{% url 'users:password' %}" class="text-green-500 font-medium">Update Password</a>
        </div>
    </div>
       
{% endblock content %}